.profile{
    width: 40%;
    margin: 0 auto;
}

.profile__data {
    display: flex;
    padding: 2rem;
}

.profile__data--image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile__data--name {

}

