.profile{
    width: 50%;
    margin: 5rem auto;
}

.profile__data {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.profile__data--image {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.profile__data__info {
    margin-left: 3rem;
    line-height: 25px;
}

.profile__data__info--name {
    font-weight: 600;
}

.profile__images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));    
    grid-auto-flow: dense;
    padding: 0 2rem;
}

