.profile{
    width: 50%;
    margin: 0 auto;
}

.profile__data {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.profile__data--image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile__data--name {
    font-weight: 700;
}

